#timer{
    font-size: 150px;
    text-align: center;
}

#timer div{
    min-width: 25px;;
    display: inline-block;
}

/*#minutes{
    width: 150px;
}

#seconds{
    width: 150px;
}

#milliseconds{
    width: 250px;
}*/

#controlButtons{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.delete {
    color: red !important;
    font-weight: 800;
    cursor: pointer;
}

#timesAlert {
    display: none;
}

#timesBox {
    border-radius: 25px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#timesContainer {
    display: flex;
    justify-content: center;
    margin-left: -40px;
    overflow: scroll;
    max-height: 200px;;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 150px;
}

#timesContainerTitle {
    margin-bottom: 0px;
}
#minutes{
    margin-left: -25px;
}
#milliseconds {
    margin-left: -25px;
    margin-right: -25px;
}
#seconds {
    margin-left: -25px;
}
#statsBox {
    border-radius: 25px;
}

#statsContainer {
    display: flex;
    justify-content: center;
    margin-left: -40px;
    overflow: scroll;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 150px;
}

#statsContainerTitle {
    margin-bottom: 0px;
}

.card {
    border: 3px solid black;
}


#times {
    margin-left: 35px;
    margin-top: 0px;
    font-size:20px;
}

#saveTimesButton, #submitTimesButton {
    border-top: 3px solid black;
    border-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
