@using CSharpWebProject.Models.ViewModels
@model List<CompetitionViewModel>

<hr />
<h1 class="text-center">My Competitions: </h1>
<hr />

@foreach (var competition in Model)
{
    <div class="card text-center">
        <div class="card-header">
            @if (competition.IsOpen)
            {
                <span>Open</span>
            }
            else
            {
                <span>Closed</span>
            }
        </div>
        <div class="card-body">
            <h5 class="card-title"><a href="/Competitions/Details?id=@competition.Id">@competition.Name</a></h5>
            <p class="card-text">@competition.Description</p>

            @if (!competition.Competitors.FirstOrDefault(c => c.User.UserName == User.Identity.Name).SubmittedTimes && competition.IsOpen)
            {
                <a href="/Competitions/Timer?id=@competition.Id" class="btn btn-primary">Enter</a>
                <a href="/Competitions/Leave?id=@competition.Id" class="btn btn-danger">Leave Competition</a>
            }

            @if (User.IsInRole("Administrator"))
            {
                <a href="/Admin/Competitions/Close?id=@competition.Id" class="btn btn-danger">Close Competition</a>
            }


        </div>
        <div class="card-footer text-muted">
            End Date: @competition.EndDate
        </div>
    </div>
}