@using CSharpWebProject.Models.ViewModels
@model CompetitionViewModel

@{
    ViewData["Title"] = "Timer";
}

<h1 id="competitionTitle">@Model.Name</h1>
<div id="timer">
    <div id="minutes">00</div>.
    <div id="seconds">00</div> .
    <div id="milliseconds">000</div>
</div>

<div class="row">
    <div id="timesBox" class="card border-dark mb-3">
        <div class="card-header text-center"><h5 id="timesContainerTitle" class="card-title text-center">Solve Times: </h5></div>
        <div id="timesContainer" class="card-body text-dark">
            <ol id="times"></ol>
        </div>
        <button id="submitTimesButton" type="button" class="btn btn-outline-dark">Submit Times</button>
    </div>
</div>
