@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rubik's Timer</h1>
</div>

<div>
    <div>
        <select id="puzzleType">
            <option selected value="3x3x3">3x3x3 Cube</option>
            <option value="2x2x2">2x2x2 Cube</option>
            <option value="4x4x4">4x4x4 Cube</option>
        </select>
    </div>
    <div id="timer">
        <div id="minutes">00</div>.
        <div id="seconds">00</div> .
        <div id="milliseconds">000</div>

    </div>
    <div id="controlButtons">
        <button id="stop" mat-button>stop</button>
        <button id="start" mat-button>start</button>
        <button id="reset" mat-button>reset</button>
    </div>
    <div id="timesBox" class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header text-center"><h5 id="timesContainerTitle" class="card-title text-center">Solve Times: </h5></div>
        <div id="timesContainer" class="card-body text-dark">
            <ol id="times"></ol>
        </div>
        <button id="saveTimesButton" type="button" class="btn btn-outline-dark">Save Times</button>
    </div>
    
</div>