@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rubik's Timer</h1>
</div>

<div>
    <div id="timer">
        <div id="minutes">00</div>.
        <div id="seconds">00</div> .
        <div id="milliseconds">000</div>

    </div>
    <div id="controlButtons">
        <button id="stop" mat-button>stop</button>
        <button id="start" mat-button>start</button>
        <button id="reset" mat-button>reset</button>
    </div>

    <div>
        <ol id="times">
        </ol>
    </div>
</div>
