@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rubik's Timer</h1>
</div>

<div>
    <div>
    </div>
    <div id="timer">
        <div id="minutes">00</div>.
        <div id="seconds">00</div> .
        <div id="milliseconds">000</div>

    </div>
    @*<div id="controlButtons">
        <button id="stop" mat-button>stop</button>
        <button id="start" mat-button>start</button>
        <button id="reset" mat-button>reset</button>
    </div>*@
    <div class="row">
        <div id="timesBox" class="col-5 card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h5 id="timesContainerTitle" class="card-title text-center">Solve Times: </h5></div>
            <div id="timesContainer" class="card-body text-dark">
                <ol id="times"></ol>
            </div>
            <button id="saveTimesButton" type="button" class="btn btn-outline-dark">Save Times</button>
        </div>
        <div id="statsBox" class="col-7 card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h5 id="statsContainerTitle" class="card-title text-center">Stats: </h5></div>
            <div id="statssContainer" class="card-body text-dark">
            </div>
            <p>Best Time: 15.05</p>
            <p>Worst Time: 15.05</p>
            <p>Average Time: 10</p>
            <hr />
            <p>Average of 3: 10</p>
            <p>Average of 5: 10</p>
            <p>Average of 12: 10</p>
        </div>
    </div>
   
</div>